.card-img-sec {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    
  }
  .image  img{
    width: 100%;
    height: 199%;
  }
  .two{

  }
  .overlay {
    position: absolute;
    bottom: 0px;
    left: -1px;
    right: 0;
    text-align: center;
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
  }
  
  .card-img-sec:hover .overlay {
    -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  width: 100%;
  }

  .card-img-sec:hover .two{

    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: border .1s .1s;
    border: 16px solid red;
      /* width: 100%; */
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }