.App {
  text-align: center;
}
ul li{
  display: none;
}
input{
  display: none;
}
i{
  float: right;
}
@media (max-width:900px) {
  #check:checked~ul li {
    background-color: red;
    display: block;
  }
}
